body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}

td {
  text-align: center;
  clear: both;
  resize: both;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  cursor: ew-resize;
}
