.container {
  text-align: center;
  background-color: white;
  padding: 30px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.generate-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.generate-button:hover {
  background-color: #45a049;
}

.password-display {
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}