.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 2px solid #000; 
  border-radius: 8px;
  background-color: #fff;
  margin: 16px;
}

.userCard {
  display: flex;
  gap: 16px;
  border: 2px solid #000; 
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  border: 2px solid #000; 
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.details h2 {
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
}

.details p {
  margin: 4px 0;
  font-size: 1em;
}
