.btn > button{
   padding: 5px 5px;
   border-radius: 5px;
   border: none;
   border: 1px solid #0f0f0f;
   cursor: pointer;
}

.color-boxes{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 20px 0 0 180px;
}

.color-box{
   width: 250px;
   height: 250px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5px;
   flex-wrap: wrap;
   box-shadow: 2px 3px 5px rgba(.4, .4, .3, .8);
}
