body{
  overflow: hidden;
}

.container{
  width: 550px;
  margin: auto;
  margin-top: 50px;
  background: #ffff;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 30px 30px;
}

.container hr{
  height: 2px;
  border: none;
  background: #707070;
  margin-top: 5px;
}

.container h1{
font-size: 25px;
}

.container h2{
  font-size: 25px;
  margin-top: 15px;
}

.container ul li{
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
}

.container button{
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 8px 8px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #19006c;
  color: #ffff;
}

.correct{
  background-color: lightgreen;
  color: #0f0f0f;
}

.in-correct{
  background-color: rgb(225, 74, 74);
  color: #ffff;
}